@import "tailwindcss";
@import "tw-animate-css";

:root {
	--background: radial-gradient(
		circle,
		rgba(187, 143, 201, 1) 0%,
		rgba(91, 73, 131, 1) 100%
	);
	--foreground: white;
	--dark-purple: #35234e;
	--dark-purple-accent: #4e3272;
	--icon-color: #706183;
	--icon-color-light: #d8d2d8;
	--icon-color-active: #ede6ed;
	--primary-purple: #402e58;
	--border-dark: #4b3666;
	--border-active: #584077;
	--border-light: rgba(200, 200, 200, 0.2);
	--text-primary-color: #404249;
	--text-secondary-color: #c6c5cc;
	--text-purple-color: #84749c;
	--text-light-color: #d3c5eb;
	--light-purple: #7451ab;
	--accent-color: #8961c9;
	--accent-light-color: #9c6ee6;
	--status-circle: #6dc253;
	--status-glow: 0px 0px 2px 2px rgba(112, 202, 85, 0.45);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

@layer utilities {
	.scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: none;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--icon-color-light);
    border-radius: 100vh;
    border: 3px solid white;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--icon-color);
  }
}

html,
body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-pt-sans);
	height: 100%;
}
